flow.json
[
    {
        "id": "9d4d999b85a27873",
        "type": "tab",
        "label": "Relay",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "1dedcb3b4ff4c7fd",
        "type": "tab",
        "label": "Analog",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "0b296fd2c55b20a5",
        "type": "tab",
        "label": "Digital Input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "018472ea23256c7f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7765500.4889a8",
        "type": "subflow",
        "name": "Iterate",
        "in": [
            {
                "x": 220,
                "y": 219,
                "wires": [
                    {
                        "id": "a1ad0c48.5e52f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 454,
                "y": 174,
                "wires": [
                    {
                        "id": "a1ad0c48.5e52f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 455,
                "y": 259,
                "wires": [
                    {
                        "id": "a1ad0c48.5e52f",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "6a1fb6519e6f9b71",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "dd5e36a18ea1a8e4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 48,
                "gy": 48,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d66c274eb1c1ce17",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "d4b3eb9bda2b472c",
        "type": "ui_group",
        "name": "Relay",
        "tab": "d66c274eb1c1ce17",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed4ac9b2273bb88c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "foo",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "78000570b9cc1bb2",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "3dbe90fbd91d7fcf",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "78000570b9cc1bb2",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e961e33ce780b073",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "78000570b9cc1bb2",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d834635475645efc",
        "type": "ui_spacer",
        "z": "1dedcb3b4ff4c7fd",
        "name": "spacer",
        "group": "e961e33ce780b073",
        "order": 2,
        "width": "16",
        "height": "1"
    },
    {
        "id": "8bb4c520a9cdd42f",
        "type": "ui_spacer",
        "z": "1dedcb3b4ff4c7fd",
        "name": "spacer",
        "group": "3dbe90fbd91d7fcf",
        "order": 2,
        "width": "16",
        "height": "1"
    },
    {
        "id": "eba6a2f91a29c61e",
        "type": "ui_group",
        "name": "Digital Input",
        "tab": "d66c274eb1c1ce17",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1ad0c48.5e52f",
        "type": "function",
        "z": "b7765500.4889a8",
        "name": "Iterate",
        "func": "//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];",
        "outputs": "2",
        "noerr": 0,
        "x": 347,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f93c06489e643050",
        "type": "modbus-read",
        "z": "9d4d999b85a27873",
        "d": true,
        "name": "relay, fc 1, addr 0, qty 2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "2",
        "rate": "30",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "d39b3350eda5843a",
                "c4fde9a589c21939"
            ],
            []
        ],
        "info": "# Relay"
    },
    {
        "id": "96eeb974774e8c8e",
        "type": "ui_switch",
        "z": "9d4d999b85a27873",
        "name": "",
        "label": "relay 1",
        "tooltip": "",
        "group": "d4b3eb9bda2b472c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 160,
        "wires": [
            [
                "a9071160fc7021bd"
            ]
        ]
    },
    {
        "id": "ad489de549d99ae9",
        "type": "ui_switch",
        "z": "9d4d999b85a27873",
        "name": "",
        "label": "relay 2",
        "tooltip": "",
        "group": "d4b3eb9bda2b472c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "37f44b68556af0c4"
            ]
        ]
    },
    {
        "id": "d39b3350eda5843a",
        "type": "change",
        "z": "9d4d999b85a27873",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "96eeb974774e8c8e"
            ]
        ]
    },
    {
        "id": "c4fde9a589c21939",
        "type": "change",
        "z": "9d4d999b85a27873",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "ad489de549d99ae9"
            ]
        ]
    },
    {
        "id": "56b465134697c064",
        "type": "modbus-write",
        "z": "9d4d999b85a27873",
        "d": true,
        "name": "fc 5, addr 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "6a1fb6519e6f9b71",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "e8068717d2bac580"
            ],
            []
        ]
    },
    {
        "id": "37f44b68556af0c4",
        "type": "rbe",
        "z": "9d4d999b85a27873",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "56b465134697c064"
            ]
        ]
    },
    {
        "id": "a9071160fc7021bd",
        "type": "rbe",
        "z": "9d4d999b85a27873",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 160,
        "wires": [
            [
                "3a7b65a44f2add6e"
            ]
        ]
    },
    {
        "id": "3a7b65a44f2add6e",
        "type": "modbus-write",
        "z": "9d4d999b85a27873",
        "d": true,
        "name": "fc 5, addr 0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "6a1fb6519e6f9b71",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 990,
        "y": 160,
        "wires": [
            [
                "ad3c801e8eef6984"
            ],
            []
        ]
    },
    {
        "id": "ad3c801e8eef6984",
        "type": "debug",
        "z": "9d4d999b85a27873",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 120,
        "wires": []
    },
    {
        "id": "e8068717d2bac580",
        "type": "debug",
        "z": "9d4d999b85a27873",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "3fb020b5a24824ff",
        "type": "modbus-read",
        "z": "1dedcb3b4ff4c7fd",
        "d": true,
        "name": "analog, fc 4, addr 0, qty 4",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "7f67c43f2e6ece0d",
                "e0d09adaebb3ba6a",
                "3768a8bf66273466",
                "66ce8642a45989e4"
            ],
            []
        ],
        "info": "# Relay"
    },
    {
        "id": "7f67c43f2e6ece0d",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "f247a40d33a6a04c"
            ]
        ]
    },
    {
        "id": "0a3399b5325763bb",
        "type": "influxdb out",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "e7af19eecf67c1ac",
        "type": "inject",
        "z": "1dedcb3b4ff4c7fd",
        "d": true,
        "name": "init",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "7fed21a696d3a33f",
                "17dc67aa9def843e",
                "921ed3114fa2418e",
                "0d48e8d1b5c68a32"
            ]
        ]
    },
    {
        "id": "dd1bd77276340a8a",
        "type": "influxdb in",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 650,
        "y": 540,
        "wires": [
            [
                "fbadc8577eb380d8"
            ]
        ]
    },
    {
        "id": "fbadc8577eb380d8",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nmsg.label = \"test\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 540,
        "wires": [
            [
                "1b19c339390cd985"
            ]
        ]
    },
    {
        "id": "1b19c339390cd985",
        "type": "ui_chart",
        "z": "1dedcb3b4ff4c7fd",
        "name": "",
        "group": "3dbe90fbd91d7fcf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "{{msg.label}}",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f247a40d33a6a04c",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.msrmt",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "analog_0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 120,
        "wires": [
            [
                "0a3399b5325763bb"
            ]
        ]
    },
    {
        "id": "e0d09adaebb3ba6a",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 200,
        "wires": [
            [
                "40db896ee6283907"
            ]
        ]
    },
    {
        "id": "40db896ee6283907",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.msrmt",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "analog_1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 200,
        "wires": [
            [
                "584e20ec908b5ce6"
            ]
        ]
    },
    {
        "id": "584e20ec908b5ce6",
        "type": "influxdb out",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "3768a8bf66273466",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "d22cbf9302a50e12"
            ]
        ]
    },
    {
        "id": "d22cbf9302a50e12",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.msrmt",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "analog_2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "05fc6e7d657e4f3e"
            ]
        ]
    },
    {
        "id": "05fc6e7d657e4f3e",
        "type": "influxdb out",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "66ce8642a45989e4",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "bf2e47495d8ab6e8"
            ]
        ]
    },
    {
        "id": "bf2e47495d8ab6e8",
        "type": "change",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.msrmt",
        "rules": [
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "analog_3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "91fc946ac9e0ce8a"
            ]
        ]
    },
    {
        "id": "91fc946ac9e0ce8a",
        "type": "influxdb out",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "7fed21a696d3a33f",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.qry",
        "func": "msg.query = \"select * from analog_0 where time > now() - 30m;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 540,
        "wires": [
            [
                "dd1bd77276340a8a"
            ]
        ]
    },
    {
        "id": "ded84721ed43cc9d",
        "type": "complete",
        "z": "1dedcb3b4ff4c7fd",
        "name": "",
        "scope": [
            "584e20ec908b5ce6",
            "05fc6e7d657e4f3e",
            "91fc946ac9e0ce8a",
            "0a3399b5325763bb"
        ],
        "uncaught": false,
        "x": 190,
        "y": 680,
        "wires": [
            [
                "7fed21a696d3a33f",
                "17dc67aa9def843e",
                "921ed3114fa2418e",
                "0d48e8d1b5c68a32"
            ]
        ]
    },
    {
        "id": "17dc67aa9def843e",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.qry",
        "func": "msg.query = \"select * from analog_1 where time > now() - 30m;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 640,
        "wires": [
            [
                "44873ea013937b25"
            ]
        ]
    },
    {
        "id": "44873ea013937b25",
        "type": "influxdb in",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 650,
        "y": 640,
        "wires": [
            [
                "cec7970339a58353"
            ]
        ]
    },
    {
        "id": "cec7970339a58353",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 640,
        "wires": [
            [
                "712339de2ace2fc9"
            ]
        ]
    },
    {
        "id": "712339de2ace2fc9",
        "type": "ui_chart",
        "z": "1dedcb3b4ff4c7fd",
        "name": "",
        "group": "3dbe90fbd91d7fcf",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "921ed3114fa2418e",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.qry",
        "func": "msg.query = \"select * from analog_2 where time > now() - 30m;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "b8ebfc66ec2d533a"
            ]
        ]
    },
    {
        "id": "b8ebfc66ec2d533a",
        "type": "influxdb in",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 650,
        "y": 740,
        "wires": [
            [
                "e3931380cebf3dea"
            ]
        ]
    },
    {
        "id": "e3931380cebf3dea",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 740,
        "wires": [
            [
                "e8e1281700c5c08e"
            ]
        ]
    },
    {
        "id": "e8e1281700c5c08e",
        "type": "ui_chart",
        "z": "1dedcb3b4ff4c7fd",
        "name": "",
        "group": "e961e33ce780b073",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0d48e8d1b5c68a32",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.qry",
        "func": "msg.query = \"select * from analog_3 where time > now() - 30m;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 840,
        "wires": [
            [
                "5e0b4b36f76eaaa2"
            ]
        ]
    },
    {
        "id": "5e0b4b36f76eaaa2",
        "type": "influxdb in",
        "z": "1dedcb3b4ff4c7fd",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 650,
        "y": 840,
        "wires": [
            [
                "faeb29f78e412bcd"
            ]
        ]
    },
    {
        "id": "faeb29f78e412bcd",
        "type": "function",
        "z": "1dedcb3b4ff4c7fd",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 840,
        "wires": [
            [
                "de9c1dfc77e28360"
            ]
        ]
    },
    {
        "id": "de9c1dfc77e28360",
        "type": "ui_chart",
        "z": "1dedcb3b4ff4c7fd",
        "name": "",
        "group": "e961e33ce780b073",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "480cbf0aa964ae40",
        "type": "modbus-read",
        "z": "0b296fd2c55b20a5",
        "d": true,
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Input",
        "adr": "0",
        "quantity": "6",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "e16d59da743c2070",
                "a5f86855f8c38554",
                "c3c06e06e76b30aa",
                "02e2d29faae64c43",
                "632971533a67d47f",
                "413c7a4be9878356"
            ],
            []
        ]
    },
    {
        "id": "e16d59da743c2070",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "10b83fb45cf43277"
            ]
        ]
    },
    {
        "id": "a5f86855f8c38554",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 240,
        "wires": [
            [
                "993133d029c70d1c"
            ]
        ]
    },
    {
        "id": "c3c06e06e76b30aa",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "fc4af71890923543"
            ]
        ]
    },
    {
        "id": "02e2d29faae64c43",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[3]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "16d05f014f0e35e6"
            ]
        ]
    },
    {
        "id": "632971533a67d47f",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[4]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "794a0f67d744c566"
            ]
        ]
    },
    {
        "id": "413c7a4be9878356",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[5]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 720,
        "wires": [
            [
                "905c8449a46740e6"
            ]
        ]
    },
    {
        "id": "edaefde378f90b48",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c5d5e302ada1309",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 100,
        "wires": [
            [
                "edaefde378f90b48"
            ]
        ]
    },
    {
        "id": "10b83fb45cf43277",
        "type": "switch",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 120,
        "wires": [
            [
                "5c5d5e302ada1309"
            ],
            [
                "d98eac7bb9462af2"
            ]
        ]
    },
    {
        "id": "d98eac7bb9462af2",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "edaefde378f90b48"
            ]
        ]
    },
    {
        "id": "993133d029c70d1c",
        "type": "switch",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "09f1e2022a444fbc"
            ],
            [
                "5ac9486d8876690e"
            ]
        ]
    },
    {
        "id": "09f1e2022a444fbc",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 220,
        "wires": [
            [
                "eeb33ad8167a3ce7"
            ]
        ]
    },
    {
        "id": "5ac9486d8876690e",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "eeb33ad8167a3ce7"
            ]
        ]
    },
    {
        "id": "eeb33ad8167a3ce7",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc4af71890923543",
        "type": "switch",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "6cbec4e97bf7befa"
            ],
            [
                "0b1b0c92eada538c"
            ]
        ]
    },
    {
        "id": "6cbec4e97bf7befa",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "865cc5a474dc79ff"
            ]
        ]
    },
    {
        "id": "0b1b0c92eada538c",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "865cc5a474dc79ff"
            ]
        ]
    },
    {
        "id": "865cc5a474dc79ff",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "16d05f014f0e35e6",
        "type": "switch",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "d17b6c4531eb159f"
            ],
            [
                "8226672d1292f311"
            ]
        ]
    },
    {
        "id": "d17b6c4531eb159f",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "3824138891f58913"
            ]
        ]
    },
    {
        "id": "8226672d1292f311",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "3824138891f58913"
            ]
        ]
    },
    {
        "id": "3824138891f58913",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "794a0f67d744c566",
        "type": "switch",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 600,
        "wires": [
            [
                "63cc3e88c417c5de"
            ],
            [
                "b616254f7542d097"
            ]
        ]
    },
    {
        "id": "63cc3e88c417c5de",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "b3bac96361fbd267"
            ]
        ]
    },
    {
        "id": "b616254f7542d097",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 620,
        "wires": [
            [
                "b3bac96361fbd267"
            ]
        ]
    },
    {
        "id": "b3bac96361fbd267",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 600,
        "wires": []
    },
    {
        "id": "905c8449a46740e6",
        "type": "switch",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "f7f5842660108a81"
            ],
            [
                "8959caa86e8ec39b"
            ]
        ]
    },
    {
        "id": "f7f5842660108a81",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 700,
        "wires": [
            [
                "3c7ecd31f7012d6d"
            ]
        ]
    },
    {
        "id": "8959caa86e8ec39b",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 740,
        "wires": [
            [
                "3c7ecd31f7012d6d"
            ]
        ]
    },
    {
        "id": "3c7ecd31f7012d6d",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 720,
        "wires": []
    },
    {
        "id": "6b402a44a67dd83e",
        "type": "modbus-read",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Input",
        "adr": "0",
        "quantity": "6",
        "rate": "10",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 150,
        "y": 980,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "762fe7647a2a99c7",
        "type": "modbus-read",
        "z": "018472ea23256c7f",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Input",
        "adr": "0",
        "quantity": "6",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "e361dde4c1c0a5ba"
            ],
            []
        ]
    },
    {
        "id": "e361dde4c1c0a5ba",
        "type": "split",
        "z": "018472ea23256c7f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 590,
        "y": 300,
        "wires": [
            [
                "9d48f4a6f475664f"
            ]
        ]
    },
    {
        "id": "9d48f4a6f475664f",
        "type": "ui_text",
        "z": "018472ea23256c7f",
        "group": "d4b3eb9bda2b472c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 300,
        "wires": []
    }
]