flow.json
[
    {
        "id": "9d4d999b85a27873",
        "type": "tab",
        "label": "Relay",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "0b296fd2c55b20a5",
        "type": "tab",
        "label": "Digital Input",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0413dc278aac9e3",
        "type": "tab",
        "label": "Analog",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7765500.4889a8",
        "type": "subflow",
        "name": "Iterate",
        "in": [
            {
                "x": 220,
                "y": 219,
                "wires": [
                    {
                        "id": "a1ad0c48.5e52f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 454,
                "y": 174,
                "wires": [
                    {
                        "id": "a1ad0c48.5e52f",
                        "port": 0
                    }
                ]
            },
            {
                "x": 455,
                "y": 259,
                "wires": [
                    {
                        "id": "a1ad0c48.5e52f",
                        "port": 1
                    }
                ]
            }
        ]
    },
    {
        "id": "6a1fb6519e6f9b71",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "dd5e36a18ea1a8e4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 48,
                "gy": 48,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d66c274eb1c1ce17",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "d4b3eb9bda2b472c",
        "type": "ui_group",
        "name": "Relay",
        "tab": "d66c274eb1c1ce17",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed4ac9b2273bb88c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "foo",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "78000570b9cc1bb2",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "3dbe90fbd91d7fcf",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "78000570b9cc1bb2",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e961e33ce780b073",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "78000570b9cc1bb2",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eba6a2f91a29c61e",
        "type": "ui_group",
        "name": "Digital Input",
        "tab": "d66c274eb1c1ce17",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3734c400a1ada57",
        "type": "ui_spacer",
        "z": "b0413dc278aac9e3",
        "name": "spacer",
        "group": "e961e33ce780b073",
        "order": 2,
        "width": "16",
        "height": "1"
    },
    {
        "id": "160364fe03410feb",
        "type": "ui_spacer",
        "z": "b0413dc278aac9e3",
        "name": "spacer",
        "group": "3dbe90fbd91d7fcf",
        "order": 2,
        "width": "16",
        "height": "1"
    },
    {
        "id": "a1ad0c48.5e52f",
        "type": "function",
        "z": "b7765500.4889a8",
        "name": "Iterate",
        "func": "//Node has 2 outputs - 1 for itteration and 1 for completion\nvar nextObj, out;\nvar itt = msg.iterationInfo;\n\n\n//If the iterating has not yet begun set up the iteration metadata in the msg\nif (typeof itt === 'undefined') {\n    //Make sure payload is an array\n    if( Object.prototype.toString.call(msg.payload) !== '[object Array]' ) {\n       msg.payload = [msg.payload];\n    }\n\n    msg.iterationInfo = itt = {};\n    itt.index = -1;\n    itt.inArray = msg.payload;\n    itt.outArray = [];\n\n//Otherwise just push the input to the output array\n} else {\n    itt.outArray.push(msg.payload)\n}\n\n//Goto next object\nitt.index ++;\n\n//If there are stil objects left to iterate goto the next one in the original array\nif (itt.index < itt.inArray.length) {\n    nextObj = msg;\n    msg.payload = itt.inArray[itt.index];\n\n//otherwise pass the out array as the payload\n} else {\n    out = msg;\n    msg.payload = itt.outArray;\n    delete msg.iterationInfo;\n}\n\nreturn [nextObj, out];",
        "outputs": "2",
        "noerr": 0,
        "x": 347,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f93c06489e643050",
        "type": "modbus-read",
        "z": "9d4d999b85a27873",
        "d": true,
        "name": "relay, fc 1, addr 0, qty 2",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "2",
        "rate": "30",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "d39b3350eda5843a",
                "c4fde9a589c21939"
            ],
            []
        ],
        "info": "# Relay"
    },
    {
        "id": "96eeb974774e8c8e",
        "type": "ui_switch",
        "z": "9d4d999b85a27873",
        "name": "",
        "label": "relay 1",
        "tooltip": "",
        "group": "d4b3eb9bda2b472c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "a9071160fc7021bd"
            ]
        ]
    },
    {
        "id": "ad489de549d99ae9",
        "type": "ui_switch",
        "z": "9d4d999b85a27873",
        "name": "",
        "label": "relay 2",
        "tooltip": "",
        "group": "d4b3eb9bda2b472c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "37f44b68556af0c4"
            ]
        ]
    },
    {
        "id": "d39b3350eda5843a",
        "type": "change",
        "z": "9d4d999b85a27873",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 160,
        "wires": [
            [
                "96eeb974774e8c8e"
            ]
        ]
    },
    {
        "id": "c4fde9a589c21939",
        "type": "change",
        "z": "9d4d999b85a27873",
        "name": "set msg.pyld",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "ad489de549d99ae9"
            ]
        ]
    },
    {
        "id": "56b465134697c064",
        "type": "modbus-write",
        "z": "9d4d999b85a27873",
        "d": true,
        "name": "fc 5, addr 1",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "1",
        "quantity": "1",
        "server": "6a1fb6519e6f9b71",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 930,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "37f44b68556af0c4",
        "type": "rbe",
        "z": "9d4d999b85a27873",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 240,
        "wires": [
            [
                "56b465134697c064"
            ]
        ]
    },
    {
        "id": "a9071160fc7021bd",
        "type": "rbe",
        "z": "9d4d999b85a27873",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "3a7b65a44f2add6e"
            ]
        ]
    },
    {
        "id": "3a7b65a44f2add6e",
        "type": "modbus-write",
        "z": "9d4d999b85a27873",
        "d": true,
        "name": "fc 5, addr 0",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "6a1fb6519e6f9b71",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 930,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c9ab7a504b025048",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 0",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "68d603a5da0577f7",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "c742616a03948f2a",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "e8a330423c312798",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 3",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "e27b2b5352263bdb",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 4",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "57894e0eee743414",
        "type": "ui_text",
        "z": "0b296fd2c55b20a5",
        "group": "eba6a2f91a29c61e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Digital Input 5",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "7d97082dd9a02684",
        "type": "modbus-read",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Input",
        "adr": "0",
        "quantity": "6",
        "rate": "30",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "bf48202bccfce56f"
            ],
            []
        ]
    },
    {
        "id": "bf48202bccfce56f",
        "type": "function",
        "z": "0b296fd2c55b20a5",
        "name": "map msg.payload",
        "func": "const payload = msg.payload;\n\nconst mapped = payload.map((b, i) => {\n    const v = b ? \"On\" : \"Off\";\n    return {i, v};\n});\n\nmsg.payload = mapped;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "c31035903f10dc65"
            ]
        ],
        "info": "# map msg.payload\r\n\r\n---\r\n\r\n## from\r\n\r\n`[value, value, value]`\r\n\r\n## into\r\n\r\n```\r\n[\r\n    {i: index, str: value},\r\n    {i: index, str: value},\r\n    {i: index, str: value},\r\n]\r\n```"
    },
    {
        "id": "4a2176bf6f661c56",
        "type": "switch",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "property": "index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "c9ab7a504b025048"
            ],
            [
                "68d603a5da0577f7"
            ],
            [
                "c742616a03948f2a"
            ],
            [
                "e8a330423c312798"
            ],
            [
                "e27b2b5352263bdb"
            ],
            [
                "57894e0eee743414"
            ]
        ]
    },
    {
        "id": "c31035903f10dc65",
        "type": "split",
        "z": "0b296fd2c55b20a5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "6a022205a495751e"
            ]
        ]
    },
    {
        "id": "6a022205a495751e",
        "type": "change",
        "z": "0b296fd2c55b20a5",
        "name": "set msg.pyld, msg.idx",
        "rules": [
            {
                "t": "set",
                "p": "index",
                "pt": "msg",
                "to": "payload.i",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.v",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "4a2176bf6f661c56"
            ]
        ]
    },
    {
        "id": "e4958396aa743724",
        "type": "modbus-read",
        "z": "b0413dc278aac9e3",
        "name": "analog, fc 4, addr 0, qty 4",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "6a1fb6519e6f9b71",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "75838dc98ee9db70"
            ],
            []
        ],
        "info": "# Relay"
    },
    {
        "id": "1374de9b5620e2c8",
        "type": "ui_chart",
        "z": "b0413dc278aac9e3",
        "name": "",
        "group": "3dbe90fbd91d7fcf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "{{msg.label}}",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2cc2fb65c2fff9f5",
        "type": "influxdb out",
        "z": "b0413dc278aac9e3",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "be9b9e19d2a1d094",
        "type": "ui_chart",
        "z": "b0413dc278aac9e3",
        "name": "",
        "group": "3dbe90fbd91d7fcf",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0d610ef18f7a178d",
        "type": "ui_chart",
        "z": "b0413dc278aac9e3",
        "name": "",
        "group": "e961e33ce780b073",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "46567e2acb7a0b7b",
        "type": "ui_chart",
        "z": "b0413dc278aac9e3",
        "name": "",
        "group": "e961e33ce780b073",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "75838dc98ee9db70",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "map msg.payload",
        "func": "const payload = msg.payload;\n\nconst mapped = payload.map((v, i) => {\n    return {i, v};\n});\n\nmsg.payload = mapped;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 140,
        "wires": [
            [
                "5159cce19fdb1975"
            ]
        ],
        "info": "# map msg.payload\r\n\r\n---\r\n\r\n## from\r\n\r\n`[value, value, value]`\r\n\r\n## into\r\n\r\n```\r\n[\r\n    {i: index, str: value},\r\n    {i: index, str: value},\r\n    {i: index, str: value},\r\n]\r\n```"
    },
    {
        "id": "5159cce19fdb1975",
        "type": "split",
        "z": "b0413dc278aac9e3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "a9c107a44d213974"
            ]
        ]
    },
    {
        "id": "a9c107a44d213974",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.pyld msg.msrmt msg.idx",
        "func": "const PREFIX = \"analog\";\n\nconst payload = msg.payload;\n\nmsg.payload = payload.v;\nmsg.measurement = PREFIX + \"_\" + payload.i;\nmsg.index = payload.i;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 220,
        "wires": [
            [
                "2cc2fb65c2fff9f5"
            ]
        ]
    },
    {
        "id": "306ca2e8cb06b4b9",
        "type": "influxdb in",
        "z": "b0413dc278aac9e3",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 710,
        "y": 360,
        "wires": [
            [
                "a56c14625c10bb70"
            ]
        ]
    },
    {
        "id": "a56c14625c10bb70",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 360,
        "wires": [
            [
                "1374de9b5620e2c8"
            ]
        ]
    },
    {
        "id": "02c3c0acf33d1706",
        "type": "influxdb in",
        "z": "b0413dc278aac9e3",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "538849a769088337"
            ]
        ]
    },
    {
        "id": "538849a769088337",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 420,
        "wires": [
            [
                "be9b9e19d2a1d094"
            ]
        ]
    },
    {
        "id": "220414034428f37f",
        "type": "influxdb in",
        "z": "b0413dc278aac9e3",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "961aeb40a6a0e52e"
            ]
        ]
    },
    {
        "id": "961aeb40a6a0e52e",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 500,
        "wires": [
            [
                "0d610ef18f7a178d"
            ]
        ]
    },
    {
        "id": "9d3d59c6501c7fd1",
        "type": "influxdb in",
        "z": "b0413dc278aac9e3",
        "influxdb": "ed4ac9b2273bb88c",
        "name": "",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "39ad77bd42541879"
            ]
        ]
    },
    {
        "id": "39ad77bd42541879",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.pyld",
        "func": "const payload = msg.payload;\n\nconst chartData = payload.map(d => {\n    return { x: d.time, y: d.value }\n});\n\nmsg.payload = [{\n    series: [\"test\"],\n    data: [chartData],\n    labels: [\"test\"]\n}]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 560,
        "wires": [
            [
                "46567e2acb7a0b7b"
            ]
        ]
    },
    {
        "id": "71bceabf50f14efa",
        "type": "inject",
        "z": "b0413dc278aac9e3",
        "name": "inject after 0.1, every 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "e52f78914e7d1e22",
                "b956d3c1b00676dd",
                "fe493ce73a155ea3",
                "9f2dc03a95254994"
            ]
        ]
    },
    {
        "id": "e52f78914e7d1e22",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.query",
        "func": "const PREFIX = \"analog\";\nconst index = 0;\n\nmsg.query =\n`SELECT value FROM ${PREFIX}_${index}\nWHERE time > now() - 30m`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "306ca2e8cb06b4b9"
            ]
        ]
    },
    {
        "id": "b956d3c1b00676dd",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.query",
        "func": "const PREFIX = \"analog\";\nconst index = 1;\n\nmsg.query =\n`SELECT value FROM ${PREFIX}_${index}\nWHERE time > now() - 30m`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "02c3c0acf33d1706"
            ]
        ]
    },
    {
        "id": "fe493ce73a155ea3",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.query",
        "func": "const PREFIX = \"analog\";\nconst index = 2;\n\nmsg.query =\n`SELECT value FROM ${PREFIX}_${index}\nWHERE time > now() - 30m`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "220414034428f37f"
            ]
        ]
    },
    {
        "id": "9f2dc03a95254994",
        "type": "function",
        "z": "b0413dc278aac9e3",
        "name": "set msg.query",
        "func": "const PREFIX = \"analog\";\nconst index = 3;\n\nmsg.query =\n`SELECT value FROM ${PREFIX}_${index}\nWHERE time > now() - 30m`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 560,
        "wires": [
            [
                "9d3d59c6501c7fd1"
            ]
        ]
    }
]